-
  var blockName = 'sp-cta';
  var blockModifiers = [];
  var btnModifiers = [];

  if (section.cta_action === 'popover') {
    btnModifiers.push('popover')
  }
-
+section(blockName, blockModifiers, false)
  +element(blockName, 'button', btnModifiers, 'a')(href=section.cta_link).
    #{section.cta_text}
