-
  var blockName = 'sp-faq';
  var blockModifiers = [];
-
+sectionID(blockName, blockModifiers, false, section)
  +element(blockName, 'item')
    +element(blockName, 'heading', [], 'h2')= section.heading
    +element(blockName, 'faq-list', [], 'dl')
      each faq in section.faqs
        +element(blockName, 'q', [], 'dt')= faq.question
        +element(blockName, 'a', [], 'dd').
          !{faq.answer}
