+section('sp-features')
  h2.sp-features__heading !{section.headline}
  p.sp-features__lead.
    Coach your clients 24/7, teach them nutrition, sleep, behavior change — everything you want to do but don’t have time for — without spending a single extra minute.
  ul.sp-features__list
    li.sp-features__feature-item
      h3.sp-features__feature-subheading.
        Coaches while you sleep.
      p.sp-features__feature-description.
        Go from coaching your clients 3 hours/week (tops) to 24/7 without more than a minute of extra work.
