-
  var blockName = 'sp-floating-bar';
  var blockModifiers = [];
  var btnModifiers = [];

  if (section.barText.button_action === 'popover') {
    btnModifiers.push('popover')
  }
-
+block(blockName, blockModifiers, 'nav')
  +element(blockName, 'nav-items', [], 'ul')
    each nav_item in section.nav_items
      +element(blockName, 'nav-item', [], 'li')
        +sectionLink(blockName, 'nav-link', [], nav_item.nav_text)
    +element(blockName, 'nav-item', ['button'], 'li')
      +element(blockName, 'button', btnModifiers, 'a')(
        href= section.barText.button_link || '#'
      ).
        #{section.barText.button_text}
