-
  var blockName = 'sp-generic';
  var blockModifiers = [section.alignment];
  var blockStyle = '';

  if (section.alignment !== 'center' && section.background_image) {
    blockStyle = 'background-image: url(' + section.background_image + ')';
  }
-
+sectionID(blockName, blockModifiers, true, section)(style=blockStyle)
  +element(blockName, 'content').
    !{section.body_text}
