-
  var blockName = 'sp-pricing';
  var blockModifiers = [];

  var ctaArr = section.calls_to_action.filter(cta => cta.phase === section.current_phase);
  var hasCta = !!ctaArr.length;
-
+section(blockName, blockModifiers, false)
  +element(blockName, 'item')
    +element(blockName, 'body-text')
      +element(blockName, 'heading', [], 'h2')= section.heading
      | !{section.top_body_text}

    +element(blockName, 'price-points', [(hasCta && 'has-cta')], 'ul')
      each pricePoint in section.price_points
        -
          var link = false;
          var linkModifiers = [];
          var itemModifiers = [];

          // Get an array with only the link for the current phase.
          var linkArr = pricePoint.links.filter(link => link.phase === section.current_phase);

          // If a link was found, set the proper data.
          if (linkArr.length > 0) {
            switch (linkArr[0].link) {
              case 'custom':
                link = linkArr[0].url;
                itemModifiers.push('has-link');
                break;
              case 'popover':
                link = '#';
                linkModifiers.push('popover');
                itemModifiers.push('has-link');
                break;
            }
          }
        -
        +element(blockName, 'price-point', itemModifiers, 'li')
          +maybeLink(link, blockName, 'link', linkModifiers)
            +element(blockName, 'price', [], 'span')= pricePoint.price
            +element(blockName, 'break', [], 'span')= pricePoint.break

    if hasCta
      -
        var cta = ctaArr[0];
        var button = {
          link: cta.button_action === 'page' ? cta.button_link : '#',
          text: cta.button_text,
          modifiers: [cta.button_action]
        };
      -
      +element(blockName, 'button-wrap')
        +element(blockName, 'button', button.modifiers, 'a')(href=button.link).
          #{button.text}

    +element(blockName, 'body-text', ['bottom']).
      !{section.bottom_body_text}
