-
  var blockName = 'sp-photobox';
  var blockModifiers = [];
-
+section(blockName, blockModifiers)
  .sp-photobox__item
    figure.sp-photobox__photo-wrapper
      img.sp-photobox__photo(src="//fpoimg.com/600x600" alt="Dr. John Berardi")
    .sp-photobox__text-wrapper
      h4.sp-photobox__heading !{section.headline}
      p.sp-photobox__credit
        em PhD, CSCS, Co-founder of Precision Nutrition
      p.sp-photobox__credit Program Director
      p.sp-photobox__body-copy.
        Dr. Berardi (a.k.a. &ldquo;JB&rdquo;) is a co-founder of Precision Nutrition, which has become the world’s largest online nutrition coaching and certification company. He’s an advisor to Apple, Equinox, Nike, and titleist, and was recently selected as one of the 20 smartest coaches in the world by Livestrong.com.
