.sp-credibility {
  @mixin section-padding;
  padding-bottom: calc( $bh * 3 );
  padding-top: calc( $bh * 3 );
  border-top: 1px solid $border-default;

  &__item {
    max-width: 1100px;
    margin: 0 auto;
  }

  &__lead-text {
    text-align: center;
  }

  &__credibility-logos {
    max-width: 100%;
    height: auto;
    margin-top: calc( $bh * 1.5 );
  }
}
