.sp-floating-bar {
  width: 100vw;
  height: 55px;
  padding: calc( $bh * 0.5 ) calc( $bw * 5 );
  background: $color-lightest;
  border-bottom: $border-default;
  transition: $transition-default;

  &--fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
  }

  &--hidden {
    pointer-events: none;
    transform: translateY(-100%);
  }

  /*
   * This prevents the float-pop thing that happens when the URL bar slides in
   * and out in Chrome for iOS.
   */
  backface-visibility: hidden;

  &__nav-items {
    position: relative;
    max-width: $media-screen-large;
    margin: 0 auto;
    text-align: left;

    &::before {
      content: 'ProCoach®';
      position: absolute;
      padding: calc( $bh * 0.5 ) calc( $bw * 1 );
      color: $color-gray-dark;
      font-size: 85%;
      font-weight: 700;
      text-decoration: none;
      z-index: 1;
    }
  }

  &__nav-item {
    position: relative;
    display: none;
    background: $color-lightest;
    z-index: 2;

    &--button {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
    }

    &--current {
      display: inline-block;
    }

    @media (min-width: $media-screen-medium) {
      display: inline-block;

      &--current a {
        color: $color-brand;
      }
    }
  }

  &__nav-link {
    display: block;
    padding: calc( $bh * 0.5 ) calc( $bw * 1 );
    color: $color-gray-dark;
    font-size: 85%;
    font-weight: 700;
    text-decoration: none;
  }

  &__text-bold {
    display: block;

    @media (min-width: $media-screen-xsmall) {
      display: inline-block;
      margin-right: $bw;
    }
  }

  &__button {
    @mixin button;
    padding: calc( $bh * 0.625 ) calc( $bw * 2.5 );
    font-size: 75%;

    @media (min-width: $media-screen-xsmall) {
      display: inline-block;
      max-width: 280px;
      margin-left: calc( $bw * 2 );
      padding: calc( $bh * 0.5 ) calc( $bw * 2 );
      font-size: 85%;
    }
  }
}

/* Hack it up, hack it up, hack it up, haaack, it up. */
.--hack_sp-floating-bar__sibling--add-top-margin {
  margin-top: 55px;
}
