.sp-feature-color-boxes {
  @mixin section-padding;
  border-top: $border-default;

  &__heading {
    @mixin heading;
    @mixin heading-centered;
  }

  &__lead-text {
    @mixin text-lead-centered;
    margin-top: $bh;
  }

  &__features {
    margin-top: calc( $bh * 1 );

    @media (min-width: 630px) {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (min-width: $media-screen-small) {
      margin-top: calc( $bh * 3 );
    }
  }

  &__feature {
    max-width: 524px;
    min-width: 270px;
    margin: calc( $bh * 1.5 ) $bw 0;
    background: $color-gray-dark;
    border: 3px solid $color-gray-dark;
    border-radius: 6px;
    text-align: center;

    &:nth-child(4n+1) {
      background-color: #3dc7ea;
      border-color: #3dc7ea;
    }

    &:nth-child(4n+2) {
      background-color: #00b9e7;
      border-color: #00b9e7;
    }

    &:nth-child(4n+3) {
      background-color: #7d91d7;
      border-color: #7d91d7;
    }

    &:nth-child(4n+4) {
      background-color: #4578c0;
      border-color: #4578c0;
    }

    @media (min-width: 630px) {
      flex: 1 45%;
    }
  }

  &__feature-heading {
    position: relative;
    display: inline-block;
    padding: calc( $bh * 1.5 );
    padding-left: calc( $bh * 3 );
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 80%;
    color: $color-lightest;
    line-height: 1;
    text-align: center;
  }

  &__feature-text {
    @mixin text-small;
    padding: calc( $bh * 1.5 ) calc( $bw * 5 );
    text-align: center;
    background: $color-lightest;
    border-radius: 0 0 4px 4px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: calc( $bh * 0.5 );
    transform: translateY(-50%);
    display: inline-block;
    width: calc( $bh * 2 );
    height: calc( $bh * 2 );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &::before,&::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &--clock {
      background-image: url(/img/coach-while-you-sleep-center.svg);

      &::before {
        animation: clock-spin 9600ms linear 0s infinite;
        background-image: url(/img/coach-while-you-sleep-hour.svg);
      }

      &::after {
        animation: clock-spin 800ms linear 0s infinite;
        background-image: url(/img/coach-while-you-sleep-minute.svg);
      }
    }

    &--credibility {
      background-image: url(/img/credibility.svg);

      &::before {
        animation: credibility-left 2.5s ease-in-out 0s infinite alternate;
        background-image: url(/img/credibility.svg);
      }

      &::after {
        animation: credibility-right 2.5s ease-in-out 0s infinite alternate;
        background-image: url(/img/credibility.svg);
      }
    }

    &--spending {
      background-image: url(/img/piggy-bank.svg);

      &::before {
        animation: spending 2s ease-in-out 0s infinite;
        background-image: url(/img/coin.svg);
      }
    }

    &--supercoach {

      &::before {
        background-image: url(/img/supercoach-shield.svg);
      }

      &::after {
        animation: supercoach 1s ease-in-out 0s infinite alternate;
        background-image: url(/img/supercoach-center.svg);
      }
    }

    &--while-you-sleep {
      background-image: url(/img/while-you-sleep.svg);
    }

    &--massive-productivity {
      background-image: url(/img/massive-productivity.svg);
    }

    &--whole-person-focus {
      background-image: url(/img/whole-person-focus.svg);
    }

    &--prove-your-worth {
      background-image: url(/img/prove-your-worth.svg);
    }

    &--look-super-human {
      background-image: url(/img/look-super-human.svg);
    }

    &--very-affordable {
      background-image: url(/img/very-affordable.svg);
    }
  }
}
