.sp-finalists {
  display: block;
  width: 110%;
  margin-left: -5%;
  margin-right: -5%;
  border: 1px;

  .pn-finalists__finalist-thumb {
    margin-top: 0;
  }

  &--no-js {
    padding-bottom: 45%;
    background-image: url(/img/client_photos_women.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--no-js[data-group="men"] {
    background-image: url(/img/client_photos_men.jpg);
  }
}
