.sp-features {
  padding-top: calc( $bh * 4 );
  padding-bottom: calc( $bh * 2 );

  &--gradient {
    background-image: linear-gradient(
      180deg,
      $color-gray-light 0%,
      $color-lightest 100%
    );
    border-top: $border-default;
    border-color: color( $color-gray-light shade(5%) );
  }

  &__item {
    max-width: $media-screen-large;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $media-screen-small) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__heading,&__lead {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $media-screen-small) {
      flex: 3 100%;
    }
  }

  &__heading {
    @mixin heading;
    font-weight: 200;
  }

  &__lead {
    @mixin text-big;
    margin-top: calc( $bh * 1 );
    font-weight: 300;
  }

  &__flex-wrapper {
    margin-top: calc( $bh * 3 );

    @media (min-width: $media-screen-small) {
      max-width: 40%;
      flex: 1 40%;
      order: 2;
    }
  }

  &__video-container {
    @mixin embed-container;
  }

  &__video-caption {
    margin-top: calc( $bh * 0.5 );
    color: $color-gray-medium;
    font-size: 75%;
    font-style: italic;
  }

  &__list {
    margin-top: calc( $bh * 3 );
    padding-left: calc( $bw * 5 );

    @media (min-width: $media-screen-small) {
      flex: 2 55%;
      order: 1;
      max-width: 55%;
      padding-left: calc( $bw * 2 );
    }
  }

  &__feature-item {
    @mixin text-body;
    font-size: 87.5%;
    list-style-type: disc;

    &+& {
      margin-top: calc( $bh * 1 );
    }

    @media (min-width: $media-screen-small) {
      font-size: 87.5%;
    }
  }

  &__feature {
    @mixin subheading;
    font-size: $font-size-default;
  }
}
