.sp-feature-color-boxes {
  @mixin section-padding;
  border-top: $border-default;

  &__heading {
    @mixin heading;
    @mixin heading-centered;
  }

  &__lead-text {
    @mixin text-lead-centered;
    margin-top: $bh;
  }

  &__features {
    margin-top: calc( $bh * 1 );

    @media (min-width: 630px) {
      display: flex;
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (min-width: $media-screen-small) {
      margin-top: calc( $bh * 3 );
    }
  }

  &__feature {
    position: relative;
    max-width: 450px;
    min-width: 270px;
    margin: calc( $bh * 2 ) 5%;
    text-align: left;

    @media (min-width: 630px) {
      flex: 1 40%;
    }
  }

  &__feature-heading {
    display: inline-block;
    padding-right: calc( $bw * 1.5 );
    padding-left: calc( $bw * 6 );
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 80%;
    color: $color-gray-dark;
    font-size: 135%;
    font-weight: $font-weight-heading;
    line-height: 1;
  }

  &__feature-text {
    @mixin text-small;
    margin-top: calc( $bh * 0.5 );
    padding: 0 calc( $bw * 1.5 ) 0 calc( $bw * 6 );
    background: $color-lightest;
    border-radius: 0 0 4px 4px;
  }

  &__feature:nth-child(4n+1) &__icon {
    background-color: #3dc7ea;
    border: 1px solid color( #3dc7ea shade(10%) );
    border-radius: 50%;
  }

  &__feature:nth-child(4n+2) &__icon {
    background-color: #00b9e7;
    border: 1px solid color( #00b9e7 shade(10%) );
    border-radius: 50%;
  }

  &__feature:nth-child(4n+3) &__icon {
    background-color: #7d91d7;
    border: 1px solid color( #7d91d7 shade(10%) );
    border-radius: 50%;
  }

  &__feature:nth-child(4n+4) &__icon {
    background-color: #4578c0;
    border: 1px solid color( #4578c0 shade(10%) );
    border-radius: 50%;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: calc( $bh * 0.0 );
    display: inline-block;
    width: calc( $bh * 4 );
    height: calc( $bh * 4 );
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;

    &::before,&::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 65%;
      background-position: center;
    }

    &--clock {
      background-image: url(/img/coach-while-you-sleep-center.svg);

      &::before {
        animation: clock-spin 9600ms linear 0s infinite;
        background-image: url(/img/coach-while-you-sleep-hour.svg);
      }

      &::after {
        animation: clock-spin 800ms linear 0s infinite;
        background-image: url(/img/coach-while-you-sleep-minute.svg);
      }
    }

    &--credibility {
      background-image: url(/img/credibility.svg);

      &::before {
        animation: credibility-left 2.5s ease-in-out 0s infinite alternate;
        background-image: url(/img/credibility.svg);
      }

      &::after {
        animation: credibility-right 2.5s ease-in-out 0s infinite alternate;
        background-image: url(/img/credibility.svg);
      }
    }

    &--spending {
      background-image: url(/img/piggy-bank.svg);

      &::before {
        animation: spending 2s ease-in-out 0s infinite;
        background-image: url(/img/coin.svg);
      }
    }

    &--supercoach {

      &::before {
        background-image: url(/img/supercoach-shield.svg);
      }

      &::after {
        animation: supercoach 1s ease-in-out 0s infinite alternate;
        background-image: url(/img/supercoach-center.svg);
      }
    }

    &--while-you-sleep {
      background-image: url(/img/while-you-sleep.svg);
    }

    &--massive-productivity {
      background-image: url(/img/massive-productivity.svg);
    }

    &--whole-person-focus {
      background-image: url(/img/whole-person-focus.svg);
    }

    &--prove-your-worth {
      background-image: url(/img/prove-your-worth.svg);
    }

    &--look-super-human {
      background-image: url(/img/look-super-human.svg);
    }

    &--very-affordable {
      background-image: url(/img/very-affordable.svg);
    }
  }
}
