.sp-floating-bar {
  width: 100vw;
  height: 58px;
  padding: calc( $bh * 0.5 ) calc( $bw * 5 );
  background: $color-lightest;
  border-bottom: $border-default;
  transition: $transition-default;

  &--fixed-top {
    position: fixed;
    top: calc( $bh * -0.5 );
    left: 0;
    padding-top: $bh;
    z-index: 900;
  }

  &--hidden {
    pointer-events: none;
    transform: translateY(-100%);
  }

  /*
   * This prevents the float-pop thing that happens when the URL bar slides in
   * and out in Chrome for iOS.
   */
  backface-visibility: hidden;

  &__nav-items {
    position: relative;
    max-width: $media-screen-large;
    margin: 0 auto;
    text-align: left;

    &::before {
      content: 'ProCoach®';
      position: absolute;
      padding: calc( $bh * 0.5 ) calc( $bw * 1 );
      color: $color-gray-dark;
      font-size: 85%;
      font-weight: 700;
      text-decoration: none;
      z-index: 1;
    }
  }

  &__nav-item {
    position: relative;
    display: none;
    background: $color-lightest;
    z-index: 2;

    &--button {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
    }

    &--current {
      display: inline-block;
    }

    @media (min-width: 900px) {
      display: inline-block;

      &--current a {
        color: $color-brand;
      }
    }
  }

  &__nav-link {
    display: block;
    padding: calc( $bh * 0.5 ) calc( $bw * 1 );
    color: $color-gray-dark;
    font-size: 85%;
    font-weight: 700;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 0;
  }

  &__text-bold {
    display: block;

    @media (min-width: $media-screen-xsmall) {
      display: inline-block;
      margin-right: $bw;
    }
  }

  &__button {
    @mixin button;
    padding: calc( $bh * 0.625 ) calc( $bw * 2.5 );
    font-size: 75%;

    @media (min-width: $media-screen-xsmall) {
      display: inline-block;
      max-width: 280px;
      margin-left: calc( $bw * 2 );
      padding: calc( $bh * 0.5 ) calc( $bw * 2 );
      font-size: 85%;
    }
  }

  /*
   * This is a second nav that's added by JavaScript on smaller viewports. I
   * added this because sometimes I like to make things far harder for myself
   * than necessary, simply so I can climb up on my high horse and say, "Hey,
   * all you lazy developers who copped out with hamburger menus! Look at this
   * marginally more efficient UX approach of tabbed nav! Yeah! I'm the best!"
   */
  &--mobile-tabbed-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    font-family: $font-family-default;
    border-bottom: 0;
    border-top: $border-default;
    z-index: 900;

    @media (min-width: 900px) {
      display: none;
    }
  }

  &--mobile-tabbed-nav &__nav-items {
    display: flex;
    align-items: space-between;
    justify-content: flex-end;
  }

  &--mobile-tabbed-nav &__nav-item {
    display: inline-block;
    flex: 1 20%;
    border-left: $border-default;
    text-align: center;
    transition: 250ms all ease-in-out;

    &:first-child {
      border-left: 0;
    }

    &::after {
      content: '';
      width: 26px;
      height: 26px;
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      border: 1px solid transparent;
      z-index: -1;

      @media (min-width: 550px) {
        width: 31px;
        height: 31px;
      }
    }

    &:nth-child(4n+1)::after {
      background-color: color( #3cd7ea tint(20%) );
      border-color: color( #3cd7ea tint(10%) );
    }

    &:nth-child(4n+2)::after {
      background-color: color( #00b9e7 tint(20%) );
      border-color: color( #00b9e7 tint(10%) );
    }

    &:nth-child(4n+3)::after {
      background-color: color( #7d91d7 tint(20%) );
      border-color: color( #7d91d7 tint(10%) );
    }

    &:nth-child(4n+4)::after {
      background-color: color( #4578c0 tint(20%) );
      border-color: color( #4578c0 tint(10%) );
    }

    &--current {
      &:nth-child(4n+1)::after {
        background-color: #3dc7ea;
        border-color: color( #3dc7ea tint(10%) );
      }

      &:nth-child(4n+2)::after {
        background-color: #00b9e7;
        border-color: color( #00b9e7 tint(10%) );
      }

      &:nth-child(4n+3)::after {
        background-color: #7d91d7;
        border-color: color( #7d91d7 tint(10%) );
      }

      &:nth-child(4n+4)::after {
        background-color: #4578c0;
        border-color: color( #4578c0 tint(10%) );
      }
    }

    &--button {
      display: none;
    }
  }

  &--mobile-tabbed-nav &__nav-link {
    display: block;
    height: 66px;
    color: $color-gray-medium;
    font-size: 8px;
    font-weight: $font-weight-default;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding-top: 36px;

    /* This gets overridden inline by WordPress settings. */
    background-image: url(/img/tab_what-is-procoach.svg);
    background-position: top 7px center;
    background-repeat: no-repeat;
    background-size: 24px;

    @media (min-width: 550px) {
      padding-top: 45px;
      background-size: 30px;
    }
  }
}

/* Hack it up, hack it up, hack it up, haaack, it up. */
.--hack_sp-floating-bar__sibling--add-top-margin {
  margin-top: 55px;
}
