.sp-faq {
  padding-top: calc( $bh * 2 );
  padding-bottom: calc( $bh * 2 );
  background-image: linear-gradient(
    0deg,
    color( $color-brand tint(95%) ) 0%,
    $color-lightest 100%
  );
  border-bottom: $border-default;
  border-color: color( $color-brand tint(90%) );

  &__item {
    max-width: $media-screen-small;
    margin-left: auto;
    margin-right: auto;
  }

  &__heading {
    @mixin heading;
  }

  &__faq-list {

  }

  &__q {
    @mixin subheading;
    margin-top: $bh;
    padding-top: $bh;
    border-top: $border-default;
    border-color: color( $color-brand tint(75%) );
  }

  &__a {
    @mixin text-body;
    margin-top: calc( $bh * 0.5 );

    *+* {
      margin-top: $bh;
    }
  }

}
