/*
 * This module is a little evil. It breaks BEM standards by allowing nested
 * rules, and by targeting elements and not classes.
 *
 * This is done because WordPress doesn't apply classes to markup without a
 * metric fuckton of wankery, and it's really just not worth the hassle.
 *
 * HOWEVER: be warned that trying to nest other blocks inside a generic block
 * can (and probably will) have side effects.
 */
.sp-generic {
  max-width: $media-screen-large;
  margin-left: auto;
  margin-right: auto;
  padding: calc( $bh * 2 ) 0;

  &--center {
    max-width: $media-screen-small;
    margin-left: auto;
    margin-right: auto;
    padding: calc( $bh * 2 ) $bh;

    @media (min-width: $media-screen-small) {
      padding: calc( $bh * 2 );
    }

    @media (min-width: $media-screen-large) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--right,&--left {
    padding: calc( $bh * 2 ) $bh;
    background-repeat: no-repeat;
    background-size: 0;

    @media (min-width: $media-screen-small) {
      padding: calc( $bh * 2 );

      /*
       * This is set based on the image used during design. If it changes, this
       * will probably need to be adjusted.
       */
      background-size: 43% auto;
    }

    @media (min-width: $media-screen-medium) {
      padding: calc( $bh * 5 );
    }

    @media (min-width: $media-screen-large) {
      background-size: 500px auto;
    }
  }

  /*
   * A little counterintuitive; the left modifier aligns images to the right
   * because the _content_ is left-aligned. Same with the right modifier below.
   */
  &--left {

    @media (min-width: $media-screen-small) {
      background-position: right bottom;
      padding-right: 35%;
    }

    @media (min-width: $media-screen-large) {

      /* Hard-coded? Whaaaaaa? */
      padding-right: 430px;
    }
  }

  &--right {

    @media (min-width: $media-screen-small) {
      background-position: left bottom;
      padding-left: 35%;
    }

    @media (min-width: $media-screen-large) {
      padding-right: 430px;
    }
  }

  > * {
    @mixin keep-on-top;
  }

  * + * {
    margin-top: calc( $bh * 1 );
  }

  &__heading,h2 {
    @mixin heading;
    margin-top: calc( $bh * 2 );

    &:first-child {
      margin-top: 0;
    }

    &--inverted {
      @mixin heading-color-inverted;
    }
  }

  &__subheading,h3 {
    @mixin subheading;
    margin-top: calc( $bh * 2 );

    &:first-child {
      margin-top: 0;
    }

    &--inverted {
      @mixin heading-color-inverted;
    }
  }

  &__lead {
    @mixin text-big;

    &--inverted {
      @mixin text-color-inverted;
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;

    &--float-right {
      float: right;
      max-width: 30%;
      margin-left: $bh;
    }
  }

  &__image-with-caption {

  }

  &__image-caption {
    @mixin text-small;
    margin-top: calc( $bh * 0.25 );
    color: $color-gray-medium;
    font-style: italic;
  }

  &__link {
    font-size: inherit;
  }

  /*
   * To avoid side-effects in BEM-adherent blocks, we make sure to only style
   * paragraphs and list items without classes applied.
   *
   * This is basically a BEM hack for user-generated input. I find this only
   * slightly less fucky than trying to hack WordPress to apply classes to all
   * paragraphs and lists.
   */
  p:not([class]),li:not([class]) {
    @mixin text-body;
  }

  h3 + p {
    margin-top: calc( $bh * 0.5 );
  }

  img {
    max-width: 100%;
    height: auto;
    margin-top: $bh;
  }

  &--inverted {
    background-color: $color-gray-dark;
    border-top: $border-width-default $border-style-default $color-darkest;
    color: $color-gray-light;

    p:not([class]),li:not([class]) {
      @mixin text-color-inverted;
    }
  }
}
