.sp-how-it-works {
  padding-top: calc( $bh * 4 );
  padding-bottom: calc( $bh * 2 );

  &--simple {
    padding-top: calc( $bh * 4 );
    padding-bottom: calc( $bh * 4 );
    @mixin background-solid-color $color-blue-bg;
  }

  &__item {
    max-width: $media-screen-large;
    margin-left: auto;
    margin-right: auto;

    &--simple {
      max-width: 1100px;
    }

    @media (min-width: $media-screen-small) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__heading,&__lead {
    @media (min-width: $media-screen-small) {
      flex: 3 100%;
    }
  }

  &__heading {
    @mixin heading;

    &--simple {
      @mixin heading-centered;
      margin-top: $bh;
    }
  }

  &__lead {
    @mixin text-big;
    margin-top: $bh;
    font-weight: 200;

    &--simple {
      @mixin text-lead-centered;
    }
  }

  &__flex-wrapper {
    margin-top: calc( $bh * 3 );

    @media (min-width: $media-screen-small) {
      max-width: 40%;
      flex: 1 40%;
      order: 2;
    }
  }

  &__video-container {
    @mixin embed-container;
  }

  &__video-caption {
    margin-top: calc( $bh * 0.5 );
    color: $color-gray-medium;
    font-size: 75%;
    font-style: italic;
  }

  &__list {
  }

  &__steps {
    margin-top: calc( $bh * 3 );

    @media (min-width: 630px) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    @media (min-width: $media-screen-small) {
      flex: 2 55%;
      order: 1;
      max-width: 55%;
      padding-left: calc( $bw * 2 );

      &--simple {
        max-width: 100%;
        padding-left: 0;
      }
    }
  }

  &__step {
    position: relative;
    text-align: center;

    &+& {
      margin-top: calc( $bh * 2 );
    }

    @media (min-width: 630px) {
      flex: 1 32%;
      max-width: 32%;

      &+& {
        margin-top: 0;
      }
    }
  }

  &__icon {
    display: block;
    max-width: 100px;
    height: auto;
    margin: 0 auto;

    @media (min-width: $media-screen-small) {
      &--simple {
        max-width: 200px;
      }
    }
  }

  &__subheading {
    @mixin subheading;
    margin-top: calc( $bh * 0.5 );
    font-weight: 300;

    @media (min-width: $media-screen-small) {
      font-size: 100%;
    }

    @media (min-width: 630px) {
      &--simple {
        font-size: 150%;
      }
    }
  }

  &__description {
    @mixin text-small;
  }

}
