.sp-pricing-info {
  @mixin section-padding;
  @mixin background-solid-color $color-blue-bg;

  &__heading {
    @mixin heading;
    @mixin heading-centered;
    max-width: 750px;
    margin: 0 auto;
  }

  &__lead-text {
    @mixin text-lead-centered;
    max-width: 750px;
    margin: $bh auto 0;
  }

  &__box {
    position: relative;
    max-width: 1070px;
    margin: calc( $bh * 2.5 ) auto 0;
    background: $color-lightest;
    border-radius: 6px;
    box-shadow: 0 3px 4px color( $color-blue-bg shade(5%) );

    @media (min-width: 630px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__subheading {
    padding: calc( $bh * 1.5 ) calc( $bw * 2 );
    background: $color-gray-dark;
    border-radius: 6px 6px 0 0;
    color: $color-lightest;
    font-family: $font-family-heading;
    font-size: 87.5%;
    font-weight: $font-weight-heading;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;

    @media (min-width: $media-screen-xsmall) {
      font-size: 100%;
    }

    @media (min-width: 630px) {
      flex: 2 100%;
    }
  }

  &__logo {
    width: 150px;
    margin-top: -2.5px;
    margin-right: 10px;
    padding-right: 10px;
    border-right: $border-width-default $border-style-default $color-lightest;
    vertical-align: middle;

    @media (min-width: $media-screen-xsmall) {
      width: 180px;
      margin-left: -70px;
      margin-right: 15px;
      padding-right: 20px;
    }
  }

  &__price-container,&__info-container {
    min-width: 280px;
    max-width: 535px;

    @media (min-width: 630px) {
      flex: 1 45%;
    }
  }

  &__price-container {
    position: relative;
    margin: $bh 0 0;
    padding: $bh;
    text-align: center;

    &::before,&::after {
      position: absolute;
      top: 5%;
      width: 45px;
      color: $color-lightest;
      font-weight: $font-weight-subheading;
      text-shadow: 2px 1px 0 color( $color-brand shade(10%) );
      transform: rotate(12deg);
    }

    /*
     * Hides the discount percentage badge.
     *
     * TODO make this more robust; right now it needs to be tweaked for any
     *      non-discounted phase. Maybe a setting in the WP admin? Or a check
     *      for the presence of a "regular price" and/or discount percentage?
     */
    &--gen-sale {
      &::before,&::after {
        display: none;
      }
    }

    &::before {
      content: 'save';
      left: 63%;
      font-size: 10px;
      letter-spacing: 0.025em;
      line-height: 29px;
      text-transform: uppercase;
      z-index: 2;
    }

    &::after {
      content: attr(data-savings) "%";
      left: 62.5%;
      padding-top: 7px;
      background-color: $color-brand;
      border-radius: 50%;
      box-shadow: 1px 1px 0 color( $color-brand shade(10%) );
      font-size: 19px;
      line-height: 38px;
      text-indent: 4px;
      z-index: 1;
    }

    @media (min-width: 630px) {
      margin: calc( $bh * 1.5 ) 0 calc( $bh * 3 );
      padding: $bh calc( $bh * 4 );
    }
  }

  &__full-price {
    position: relative;
    display: inline-block;
    margin: 0 40%;
    color: $color-gray-medium;
    font-size: 120%;
    line-height: 1;

    &::before,&::after {
      position: absolute;
    }

    &::before {
      content: '$';
      top: 0;
      right: 100%;
      font-size: 70%;
      line-height: 1.25;
      vertical-align: top;
    }

    &::after {
      content: '';
      top: 50%;
      left: -30%;
      width: 150%;
      border-top: 2px solid $color-gray-medium;
      transform: rotate(-12deg);
    }
  }

  &__price {
    position: relative;
    display: inline-block;
    color: $color-text-headline;
    font-size: 500%;
    font-weight: 700;
    line-height: 1;

    &::before,&::after {
      position: absolute;
      line-height: 2.5;
      vertical-align: top;
    }

    &::before {
      content: '$';
      top: 0;
      right: 100%;
      font-size: 30%;
    }

    &::after {
      content: 'USD';
      top: $bh;
      left: 100%;
      color: color( $color-gray-light shade(10%) );
      font-size: 15%;
    }
  }

  &__frequency {
    margin-top: calc( $bh * -0.5 );
    font-size: 75%;
    font-weight: 700;
    line-height: 0.75;
    text-transform: uppercase;
  }

  &__info-container {
    margin: 0 0 calc( $bh * 4 );
    padding: $bh calc( $bh * 1.5 ) calc( $bh * 3 );

    @media (min-width: 630px) {
      margin: calc( $bh * 1.5 ) 0 calc( $bh * 3 );
      padding: $bh calc( $bh * 4 );
      border-left: 2px solid $color-gray-light;
    }
  }

  &__info {
    padding-left: calc( $bw * 2 );
  }

  &__info-item {
    list-style-type: disc;
    font-size: 87.5%;

    &+& {
      margin-top: $bh;
    }
  }

  &__button {
    @mixin button;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    max-width: 300px;
    transform: translate(-50%, 50%);
  }

}
