.sp-photobox {
  margin: calc( $bh * 1 ) calc( $bw * -5 ) 0;
  padding: 0;
  overflow: hidden;

  @media (min-width: $media-screen-small) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  &__heading {
    margin-top: 0;
    font-size: 110%;
    font-weight: $font-weight-subheading;
  }

  &__photo-wrap {
    @media (min-width: $media-screen-small) {
      flex: 1 37%;
      max-width: 37%;
    }
  }

  &__photo {
    display: block;
    width: 400px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  &__text-wrap {
    margin-top: 0;
    padding: calc( $bh * 1.5 ) calc( $bw * 5 );
    border-top: $border-default;

    @media (min-width: $media-screen-small) {
      flex: 3 63%;
      max-width: 63%;
      padding: $bh;
      border-top: 0;
    }
  }

  &__credentials,&__position {
    @mixin text-small;
    margin-top: 0;

    /* Sibling selectors for everyone-but-the-first-child margins. */
    & + & {
      margin-top: calc( $bh * 0.25 );
    }
  }

  &__bio {
    @mixin text-body;
    margin-top: calc( $bh * 0.5 );
  }

}
