.sp-pricing {
  padding-top: calc( $bh * 3 );
  padding-bottom: calc( $bh * 3 );

  &__item {
    max-width: $media-screen-medium;
    margin-left: auto;
    margin-right: auto;
  }

  &__heading {
    @mixin heading;
  }

  &__body-text {
    @mixin text-body;

    &--bottom {
      margin-top: $bh;
      padding: 0 calc( $bw * 2 );
    }

    * + * {
      margin-top: $bh;
    }
  }

  &__price-points {
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc( $bh * 2 );
    margin-left: calc( $bw * -5 );
    margin-right: calc( $bw * -5 );
    padding: $bh;
    background-color: color( $color-gray-light tint(50%) );
    border: $border-default;
    border-color: color( $color-gray-light tint(15%) );

    @media (min-width: $media-screen-medium) {
      margin-left: auto;
      margin-right: auto;
      border-radius: $border-radius-default;
    }

    &--has-cta {
      margin-bottom: calc( $bh * -2 );
      padding-bottom: calc( $bh * 3 );
    }
  }

  &__price-point {
    @mixin box-shadow-default;
    flex: 1 90%;
    padding: calc( $bh * 1.5 ) $bh calc( $bh * 1 );
    max-width: 90%;
    min-width: 215px;
    margin: calc( $bh * 0.5 ) 1%;
    background: $color-gray-light;
    border: $border-width-default $border-style-default color( $color-gray-light shade(5%) );
    border-radius: $border-radius-default;
    color: $color-lightest;
    overflow: hidden;
    text-align: center;
    transition: $transition-default;

    @media (min-width: $media-screen-xsmall) {
      flex: 1 30%;
      max-width: 30%
    }

    @media (min-width: $media-screen-medium) {
      margin: 0;
      margin-left: 2%;
      padding: calc( $bh * 2 ) $bh calc( $bh * 1.5 );

      &:first-child {
        margin-left: 0;
      }
    }

    &--has-link {

      /* Remove the padding since the link sets it again for a click target. */
      padding: 0;

      &:hover,&:active,&:focus {
        @mixin box-shadow-active;
        background: color( $color-gray-light shade(10%) );
        border-color: color( $color-gray-light shade(10%) );
      }
    }
  }

  &__link {
    display: block;
    padding: calc( $bh * 2 ) $bh calc( $bh * 1.5 );
    text-decoration: none;
  }

  &__price {
    @mixin subheading;
    display: block;
    color: $color-gray-dark;
    font-size: 350%;
    line-height: 0.75;

    @media (min-width: $media-screen-small) {
      font-size: 8vw;
    }

    @media (min-width: $media-screen-medium) {
      font-size: 450%;
    }
  }

  &__break {
    color: $color-gray-medium;
    font-size: 70%;
    line-height: 1;
  }

  &__button-wrap {
    text-align: center;
  }

  &__button {
    @mixin button;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

}
