.sp-pricing {
  padding-top: calc( $bh * 2 );
  padding-bottom: calc( $bh * 2 );
  background: $color-darkest;

  &__heading {
    @mixin heading;
    color: $color-lightest;
    text-align: center;
  }

  &__price-points {
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__price-point {
    flex: 1 50%;
    padding: $bh;
    max-width: 45%;
    min-width: 250px;
    margin-top: $bh;
    margin-left: 2%;
    margin-right: 2%;
    background: $color-gray-dark;
    border: $border-width-default $border-style-default $color-gray-medium;
    border-radius: $border-radius-default;
    color: $color-lightest;
    text-align: center;
    transition: $transition-default;

    &:hover {
      background: $color-brand;
      border-color: color( $color-brand tint(50%) );
    }
  }

  &__price {
    @mixin subheading;
    @mixin text-shadow color( $color-darkest alpha(25%) );
    display: block;
    color: $color-lightest;
  }

  &__break {
    @mixin text-shadow color( $color-darkest alpha(25%) );
    color: $color-gray-light;
  }

  &__enterprise {
    @mixin text-small;
    margin-top: calc( $bh * 1.5);
    color: $color-gray-light;
    text-align: center;
  }

  &__contact-link {
    font-size: inherit;
  }

}
