.sp-popover {
  @mixin popover;

  &--fade-out {
    @mixin popover-fade-out;
  }

  &--hidden {
    @mixin popover-hidden;
  }

  &__container {
    @mixin popover-container;
  }

  &__form {
    padding: calc( $bh * 3.5 ) $bh calc( $bh * 1.5 );

    @media (min-width: $media-screen-xsmall) {
      padding: calc( $bh * 2 ) calc( $bh * 1.5 );
      flex: 2 55%;
      order: 2;
      display: flex;
      align-items: top;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (min-width: $media-screen-medium) {
      padding: calc( $bh * 3 );
      padding-left: calc( $bh * 1.5 );
    }
  }

  &__heading {
    color: color( $color-brand tint(80%) );
    font-size: 150%;
    font-weight: normal;
    line-height: 1.1;
    text-shadow: 1px 1px 2px color( $color-brand shade(5%) );

    @media (min-width: $media-screen-xsmall) {
      flex: 2 100%;
      font-size: 125%;
    }
  }

  &__heading-bold {
    color: $color-lightest;
    font-weight: bold;
  }

  &__body-text {
    flex: 2 100%;
    margin-top: $bh;
    color: $color-lightest;
    font-size: $font-size-default;
    text-shadow: 1px 1px 2px color( $color-brand shade(5%) );

    @media (min-width: $media-screen-xsmall) {
      flex: 2 100%;
      margin-top: 0;
      font-size: 100%;
      line-height: 1.5;
    }
  }

  &__input-group {
    margin-top: calc( $bh * 0.5 );

    @media (min-width: $media-screen-xsmall) {
      flex: 1 50%;
      max-width: 48%;
      margin-top: $bh;
    }
  }

  &__label {
    display: block;
    color: $color-lightest;
    font-weight: bold;
    text-shadow: 1px 1px 2px color( $color-brand shade(5%) );

    &--required::after {
      content: '*';
    }
  }

  &__input {
    width: 100%;
    padding: 0 calc( $bh * 0.5 );
    border: 0;
    border-radius: calc( $bh * 0.35 );
    font-size: $font-size-default;
    line-height: 2.5;

    &--select {
      height: calc( $bh * 2.5 );
    }
  }

  &__submit {
    @mixin button $color-gray-dark;
    display: block;
    width: 100%;
    margin-top: calc( $bh * 1.5 );
    font-size: 87.5%;

    @media (min-width: $media-screen-xsmall) {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      font-size: $font-size-default;
    }
  }

  &__image-wrap {
    display: none;

    /* Custom breakpoint that will need to be adjusted per-image, probably. */
    @media (min-width: 920px) {
      display: block;
      height: 100%;
      flex: 1 45%;
      order: 1;
      position: relative;
      margin-right: calc( $bh * 2 );
    }
  }

  &__image {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
  }

  &__close-btn {
    @mixin popover-close-btn;
  }

}
