@define-mixin button $color: $color-brand {
  display: block;
  padding: calc( $bh * 0.75 );
  background: $color;
  border: $border-width-default $border-style-default transparent;
  border-radius: $border-radius-default;
  color: $color-lightest;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: $transition-default;

  &:hover,&:active,&:focus {
    background: color( $color shade(10%) );
    border-color: color( $color-lightest alpha(30%) );
    color: $color-lightest;
    text-shadow: 0 0 4px color( $color shade(15%) );
    outline: none;
  }
}