@define-mixin button {
  display: block;
  padding: calc( $bh * 0.75 ) 0;
  background: $color-brand;
  border: $border-width-default $border-style-default transparent;
  border-radius: $border-radius-default;
  color: $color-lightest;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: $transition-default;

  &:hover,&:active,&:focus {
    background: color( $color-brand shade(10%) );
    border-color: color( $color-lightest alpha(30%) );
    color: $color-lightest;
    text-shadow: 0 0 4px color( $color-brand shade(15%) );
    outline: 0;
  }
}