@define-mixin keep-on-top {
  position: relative;
  z-index: 1000;
}

@define-mixin keep-on-bottom {
  position: relative;
  z-index: 2;
}

@define-mixin embed-container {
  position: relative;
  max-width: 100%;
  height: auto;
  padding-bottom: 56.25%;
  overflow: hidden;

  /* nested selectors to target third-party embed codes */
  iframe,object,embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@define-mixin section-padding {
  padding: calc( $bh * 3 ) calc( $bw * 5 );

  @media (min-width: $media-screen-small) {
    padding-top: calc( $bh * 4.5 );
    padding-bottom: calc( $bh * 4.5 );
  }
}
