doctype html
html(lang="en")
  head
    title This Page Doesn't Exist

  body
    h1 Looks Like You've Found a Page That Doesn't Exist
    p.
      Sorry, but the page you've requested doesn't seem to exist.