include /mixins/bem-helpers
include /mixins/partials

doctype html
html(lang="en")

  head
    title= fields.title.rendered

    script(src="//use.typekit.net/mdv1txb.js")
    script.
      try{Typekit.load();}catch(e){}

    link(rel="stylesheet" href="/css/main.min.css")

  body
    .sp
      -
        var isPopoverRequired = false;
      -
      each section in fields.acf.layout
        -
          if (section.cta_type === 'popover') {
            isPopoverRequired = true;
          }
        -
        if (section.visible_phases.indexOf(fields.sellaporter_phase) !== -1)
          +includeBlock(section)

      if (isPopoverRequired)
        -
          // TODO make this dynamic and figure out a better way
          var popover = {
            acf_fc_layout: 'sp-popover',
          };
        -
        +includeBlock(popover)

    script(async deferred src="/js/vendors.min.js")
    script(async deferred src="/js/main.min.js")

    if process.env.NODE_ENV && process.env.NODE_ENV === 'development'
      - console.warn('NOTE: Development mode is enabled!');
      script(src="//localhost:9091")
